#root {
  width: 100vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: white;
  background: rgb(30, 30, 30) 
}

button {
  margin: 10px;
  color: white;
}

#action:hover {
  background-color: #daa520;
}

#submit:hover {
  background-color: #03c04a;
}

#cancel:hover {
  background-color: #ff0000;
}

